@media (max-width: 576px) {
    .table-responsive.table-small-mobile table,
    .table-responsive.table-small-mobile table th,
    .table-responsive.table-small-mobile table td,
    .table-responsive.table-small-mobile .badge,
    .table-responsive.table-small-mobile .dropdown-item,
    .table-responsive.table-small-mobile .btn {
        font-size: 0.7rem !important;
    }

    .table-responsive.table-small-mobile table td strong {
        font-size: 0.75rem !important;
    }

    .table-responsive.table-small-mobile .btn i {
        font-size: 1rem !important;
    }
}
